{% extends 'JLMFrontBundle::layout.html.twig' %}

{% block title %}Installation | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
<h1>Installation</h1>
<p></p>
</div>
{% endblock container %}