{% extends "::layout.html.twig" %}

{% block container %}
    <div class="row-fluid">
    
	    <div class="span2">
		    {% block sidebar %}
		        
		    
		    {% endblock sidebar %}
		    
	    </div>
	    <div class="span10">
            {% block content %}
            {% endblock content %}
	    </div>
    </div>
{% endblock container %}
