{% extends 'JLMFrontBundle::layout.html.twig' %}

{% block title %}Présentation | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
  <div class="page-header">
    <h1>Présentation</h1>
  </div>
  <div class="row">
  <div class="col-lg-6">
  <p>Depuis plus de 20 ans, <strong>JLM Entreprise</strong>, assure la maintenance, le dépannage, la réparation et l’installation de tous les types de fermetures automatiques.</p>
  </div>
  <div class="col-lg-6">
  </div>
  </div>
</div>
{% endblock container %}