{% extends 'JLMFrontBundle::layout.html.twig' %}

{% block title %}Mentions légales | {{ parent() }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Mentions légales</h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li>Directeur de Publication : Jean-Louis Martinez</li>
        <li>Nom de la personne morale : SARL JLM Entreprise</li>
        <li>Adresse : <address>17 avenue de Montboulon<br>77165 SAINT-SOUPPLETS</address></li>
        <li>Téléphone : 01 64 33 77 70</li>
        <li>Fax : 01 64 33 78 45</li>
        <li>n° de SIREN : 421 863 556</li>
        <li>n° de TVA : FR 58 421863556</li>
        <li>Adresse du siège social : <address>17 avenue de Montboulon<br>77165 SAINT-SOUPPLETS</address></li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}