{% extends 'JLMFrontBundle::layout.html.twig' %}

{% block title %}Rénovation | {{ parent() }}{% endblock title %}

{% block container %}
<div class="container">
<h1>Rénovation</h1>
<p></p>
</div>
{% endblock container %}