{% extends "::layout.html.twig" %}

{% block container %}
    <div class="row-fluid">
	    <div class="span2">
		    {% block sidebar %}
		    <ul class="nav nav-tabs nav-stacked">
		        <li><a href="{{ path('trustee') }}">Syndics</a></li>
		        <li><a href="{{ path('productcategory') }}">Familles de produit</a></li>
		        <li><a href="{{ path('product') }}">Produits</a></li>	   
		        <li><a href="{{ path('supplier') }}">Fournisseurs</a></li>
		    </ul>
		    {% endblock sidebar %}
	    </div>
	    <div class="span10">
            {% block content %}
            {% endblock content %}
	    </div>
    </div>
{% endblock container %}