{% extends "JLMModelBundle::layout.html.twig" %}

{% block content %}
{{ form(form, {'attr': {'class': 'form-horizontal'}}) }}
<!-- 

<ul class="nav nav-tabs">
  <li class="active"><a href="#person" data-toggle="tab">Particulier</a></li>
  <li><a href="#company" data-toggle="tab">Entreprise</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="person">
    <form>
      <select>
        <option>M.</option>
        <option>Mme</option>
      </select><input type="text" placeholder="Nom"> <input type="text" placeholder="Prénom"><br><br>
      <textarea placeholder="Adresse"></textarea><br>
      <input type="text" placeholder="Ville"><br><br>
      <input type="text" value="Téléphone"><input type="text" placeholder="Numéro"><button>-</button><br><br>
      <button>Ajouter un téléphone</button><br><br>
      <input type="text" value="e-mail"><br><br>
      <button>Enregistrer</button><br>
    </form>
  </div>
  <div class="tab-pane" id="company">
    <form>
      <input type="text" placeholder="Nom"><br><br>
      <textarea placeholder="Adresse"></textarea><br>
      <input type="text" placeholder="Ville"><br><br>
      <input type="text" value="Téléphone"><input type="text" placeholder="Numéro"><button>-</button><br><br>
      <button>Ajouter un téléphone</button><br><br>
      <button>Enregistrer</button><br>
    </form>
  </div>
</div>
 -->
{% endblock %}