{% extends "JLMTransmitterBundle:Attribution:layout.html.twig" %}

{% block content %}
<h1>Affaire</h1>
<a href="{{ path('transmitter_site_printlist',{'id':entity.id}) }}" class="btn btn-info"><i class="icon-white icon-print"></i> Imprier la liste complète</a>