# Eclipse
.project
.buildpath
.settings/*

# Apache
apache.conf

# Perso
log/*
report/*

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/js/*
web/fonts/*
web/images/*
bin/*
components/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar
composer.lock

# SQL
structure.sql
dbfinal.sql
out.txt
csv2php.php
