{# @JLMDaily/intervention/labeltype.html.twig #}
<span class="label{% if type == 'fixing' %} label-warning">Dépannage
{% elseif type == 'work' %} label-info">Travaux
{% elseif type == 'maintenance' %}">Entretien
{% elseif type == 'receiver' %}">Récépteur
{% elseif type == 'equipment' %} label-inverse">Matériel
{% else %}">Intervention
{% endif %}</span>