{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block sidebar %}
			<h4>Factures</h4>
			<ul class="nav nav-list  affix">
{#		    <li><form  action="{{ path('quote_search') }}" method="post" class="form-search">
					<input type="text" class="search-query input-medium" name="query" placeholder="Rechercher...">
			    </form></li> #}
			    <li><a href="{{ path('bill_new') }}"><i class="icon-plus-sign"></i> Nouvelle facture</a></li>
			    <li class="divider"></li>
			    <li class="nav-header">Etats</li>
			    {% render "JLMOfficeBundle:Bill:sidebar" %}
			</ul>
{% endblock sidebar %}