{% block selectcontacttype_widget %}
    {% spaceless %}
    	{{ form_widget(form) }}
    	&nbsp;<button class="btn btn-success"><i class="icon-white icon-plus-sign"></i></button>
    {% endspaceless %}
{% endblock selectcontacttype_widget %}