{# JLMDailyBundle:Default:c.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Pannes <small>(3)</small></h1>
<table class="table table-stripped">
	<thead>
		<tr>
			<th></th>
			<th>Date</th>
			<th>Installation</th>
			<th>Interlocuteur</th>
			<th>Info</th>
			<th>Type</th>
			<th>Technicien</th>
		</tr>
	</thead>
	<tbody>
		<tr class="success">
			<td><a href="#" class="btn"><i class="icon-eye-open"></i></a></td>
			<td>12/05/2013<br>15:31</td>
			<td>Façade<br>rue Machin Truc<br>75010 - Paris</td>
			<td>Mme Bidule<br>01 60 03 52 41</td>
			<td><strong>Porte basculante</strong><br>En panne</td>
			<td>Dépannage</td>
			<td><strong>Christophe</strong><br>12/05/2013<br>16:21</td>
			<td><a href="#" class="btn btn-success"><i class="icon-ok icon-white"></i></a></td>
		</tr>
		<tr>
			<td><a href="#" class="btn"><i class="icon-eye-open"></i></a></td>
			<td>12/05/2013<br>16:20</td>
			<td>Façade<br>rue Machin Truc<br>75010 - Paris</td>
			<td>Mme Bidule<br>01 60 03 52 41</td>
			<td><strong>Portail battant</strong><br>En panne</td>
			<td>Dépannage</td>
			<td><select class="input-small"><option></option><option>Christophe</option><option>Cyrille</option><option>Oscar</option></select></td>
			<td><a href="#" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i></a></td>
		</tr>
		<tr>
			<td><a href="#" class="btn"><i class="icon-eye-open"></i></a></td>
			<td>12/05/2013<br>16:25</td>
			<td>Façade<br>rue Machin Truc<br>75010 - Paris</td>
			<td>Mme Bidule<br>01 60 03 52 41</td>
			<td><strong>Porte basculante</strong><br>Bloquée ouverte</td>
			<td>Dépannage</td>
			<td><select class="input-small"><option></option><option>Christophe</option><option>Cyrille</option><option>Oscar</option></select></td>
			<td><a href="#" class="btn btn-primary"><i class="icon-arrow-right icon-white"></i></a></td>
		</tr>
	</tbody>
</table>
<div class="pagination pagination-centered">
	<ul>
	    <li class="disabled"><a href="#">«</a></li>
		<li class="active"><a href="#">1</a></li>
		<li class="disabled"><a href="#">»</a></li>
	</ul>
</div>
{% endblock %}
