{# JLMDailyBundle:Default:sidebar.html.twig #}
				<li><a href="#"><span class="badge badge-success">2</span> En cours</a></li>
			    <li><a href="#"><span class="badge badge-important">7</span> A l'arrêt</a></li>
		    	<li><a href="{{ path('fixing_list') }}"><span class="badge badge-warning">{{ fixing }}</span> Dépannages</a></li>
		        <li><a href="#"><span class="badge badge-info">2</span> Travaux</a></li>
		        <li><a href="#"><span class="badge">231</span> Entretiens</a></li>