{# JLMDailyBundle:Default:sidebar.html.twig #}
				<li><a href="#"><span class="badge badge-success"></span> En cours</a></li>
			    <li><a href="#"><span class="badge badge-important"></span> A l'arrêt</a></li>
		    	<li><a href="{{ path('fixing_list') }}"><span class="badge badge-warning">{{ fixing }}</span> Dépannages</a></li>
		        <li><a href="#"><span class="badge badge-info"></span> Travaux</a></li>
		        <li><a href="#"><span class="badge"></span> Entretiens</a></li>