{# JLMDailyBundle:Default:sidebar.html.twig #}
				<li><a href="#"><span class="badge badge-success"></span> En cours</a></li>
		    	<li><a href="{{ path('fixing_list') }}"><span class="badge badge-important">{{ fixing }}</span> Dépannages</a></li>
		        <li><a href="{{ path('work_list') }}"><span class="badge badge-warning">{{ work }}</span> Travaux</a></li>
		        <li><a href="#"><span class="badge badge-info"></span> Entretiens</a></li>