{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Nouvelle astreinte</h1>
<form action="{{ path('standby_create') }}" method="post" class="form-horizontal">
<fieldset>
	{{ form_widget(form) }}
    <div class="form-actions">
	   <button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
	</div>
	</fieldset>
</form>
{% endblock %}