{# JLMDailyBundle:Intervention:delete.html.twig #}

<div id="modalDelete{{ id }}" class="form-horizontal modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalDelete{{ id }}Label" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalDelete{{ id }}Label">Supprimer l'intervention</h3>
	</div>
	<div class="modal-body">
		Êtes-vous certain de vouloir supprimer cette intervention ?
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Non</button>
		<a href="{{ path('intervention_delete',{'id':id}) }}" class="btn btn-danger">Oui</a>
	</div>
</div>