{# JLMDailyBundle:Intervention:labeltype.html.twig #}
<span class="label{% if type == 'fixing' %} label-warning">Dépannage
{% elseif type == 'work' %} label-primary">Travaux
{% elseif type == 'maintenance' %} label-default">Entretien
{% elseif type == 'receiver' %} label-default"">Récépteur
{% elseif type == 'equipment' %} label-inverse">Matériel
{% else %} label-default"">Intervention
{% endif %}</span>