{# JLMDailyBundle:Intervention:labeltype.html.twig #}
<span class="label label-{% if type == 'fixing' %}warning">Dépannage
{% elseif type == 'work' %}primary">Travaux
{% elseif type == 'maintenance' %}default">Entretien
{% elseif type == 'receiver' %}">Récépteur
{% elseif type == 'equipment' %}info">Matériel
{% else %}">Intervention
{% endif %}</span>