{# JLMDailyBundle:Intervention:labeltype.html.twig #}
<span class="label{% if type == 'fixing' %} label-warning">Dépannage
{% elseif type == 'work' %} label-info">Travaux
{% elseif type == 'maintenance' %}">Entretien
{% elseif type == 'receiver' %}">Récépteur
{% else %}">Intervention
{% endif %}</span>