{# JLMDailyBundle:Intervention:list.html.twig #}
{% if entities|length == 0 %}
<p>Aucune intervention</p>
{% else %}
<table class="table table-stripped">
	<thead>
		<tr>
			<th>Date</th>
			<th>Syndic</th>
			<th>Affaire</th>
			<th>Installation</th>
			<th>Interlocuteur</th>
			<th>Info</th>
			<th>Techniciens</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	{% for entity in entities %}
	{{ render_esi(controller('JLMDailyBundle:Intervention:listline',{'id':entity.id, 'type':entity.type|capitalize})) }}
	{% endfor %}
	</tbody>
</table>
{% endif %}