{# JLMDailyBundle:Intervention:list.html.twig #}
{% if entities|length == 0 %}
<p>Aucune intervention</p>
{% else %}
<div class="panel panel-default">
  <div class="panel-body row">
    <div class="col-lg-1">Date</div>
    <div class="col-lg-1">Syndic</div>
    <div class="col-lg-3">Affaire</div>
    <div class="col-lg-3">Installation</div>
    <div class="col-lg-1">Contact</div>
    <div class="col-lg-2">Raison</div>
    <div class="col-lg-1">Techniciens</div>
  </div>
</div>
{% for entity in entities %}
  {% if entity.type != 'equipment' %}
    {% include "JLMDailyBundle:Intervention:row.inc.html.twig" with { 'entity' : entity } %}
  {% else %}
    {% include "JLMDailyBundle:Equipment:row.inc.html.twig" with { 'entity' : entity } %}
  {% endif %}
{% endfor %}
{% endif %}