{# JLMDailyBundle:Intervention:report.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Intervention de <small>({{ entities|length }})</small></h1>
{% include "JLMDailyBundle:Intervention:list.html.twig" with {'entities' : entities} %}


{% endblock %}