{% set id = 'modalEditUserGroup' ~ entity.id %}
{% set action = path('transmitter_usergroup_update', { 'id': entity.id }) %}
{% set title = 'Groupe ' ~ entity.name %}
{% extends '@JLMDefault/helpers/modalform.html.twig' %}
{% block body %}
	{% include '@JLMTransmitter/user_group/create.html.twig' %}
{% endblock %}
{% block footer %}
	{{ parent() }}
	{% if not hasTransmitter %}
	<a href="{{ path('transmitter_usergroup_delete',{'id':entity.id}) }}" class="btn btn-danger">{{ 'remove'|icon(true) }} Supprimer</a>
	{% endif %}
{% endblock %}