{% if state == 0 %}
	<span class="label label-default">En saisie</span>
{% elseif state == 1 %}
	<span class="label label-info">En préparation</span>
{% elseif state == 2 %}
	<span class="label label-success">Prête</span>
{% else %}
	<span class="label label-danger">Annulée</span>
{% endif %}