{% block generic_label %}
{% spaceless %}
    {{ label|trans }}
{% endspaceless %}
{% endblock %}

{% block field_rows %}
{% spaceless %}
{% for child in form %}
  {{ form_row(child) }}
{% endfor %}
{% endspaceless %}
{% endblock field_rows %}

{% block field_row %}
{% spaceless %}
  {{ form_widget(form) }}
{% endspaceless %}
{% endblock field_row %}

{% block form_widget %}
{% spaceless %}
<div class="row-fluid">
	<div class="span1">
	  <a href="#" class="btn btn-danger remove"><i class="icon-trash icon-white"></i></a>
	</div>
	<div class="span11">
   {{ block('field_rows') }}
   </div>
</div>
{% endspaceless %}
{% endblock form_widget %}


