{% extends "JLMOfficeBundle::layout.html.twig" %}

{% block content %}
<h1>Nouveau</h1>

{% form_theme form 'JLMOfficeBundle:Form:field_row.html.twig' %}

<form action="{{ path('test_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
 <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <a href="" class="btn"><i class="icon-arrow-left"></i> Retour à la liste</a>
	   <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer les modifications</button>
	</div>
</fieldset>
</form>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function() {
	$('.typeahead').typeahead({
    	source : function(query,process){
			return $.get('{{ path('test_autocomplete', {query:''}) }}/' + query, 
					function (data) { return process(data.options);
			});
        },
        highlighter: function (item) {
            var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
            var a = item.split('|');
            return a[0].replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
              return '<strong>' + match + '</strong>'
            })
        },
        updater:function(item) {
        	var a = item.split('|');
			this.$element.prev().val(a[1]);
			return a[0];
        }
    });
});
</script>
{% endblock %}