{# @JLMDaily/fixing/list.html.twig #}
{% extends "JLMDailyBundle::layout.html.twig" %}

{% block content %}
<h1>Travaux <small>({{ entities|length }})</small></h1>
{% include "@JLMDaily/intervention/list.html.twig" with {'entities' : entities} %}


{% endblock %}