<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 2 }) }}" class="btn btn-primary">Devis</a>
<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 3 }) }}" class="btn">Commander matériel</a>
<a href="{{ path('intervention_generatetask',{'id' : entity.id, 'type' : 4 }) }}" class="btn">Contacter client</a>