{% extends "JLMTransmitterBundle:Ask:layout.html.twig" %}

{% block content %}
<h1>Commandes d'émetteurs</h1>
{% include 'JLMTransmitterBundle:Ask:list_table.html.twig' with {'entities':entities} %}
{% endblock %}
