{% block datepicker_widget %}
{% spaceless %}
<div class="input-prepend input-append"><span class="add-on"><i class="icon-calendar"></i></span>{{ block('field_widget') }}<button class="btn" type="submit"><i class="icon-eye-open"></i></button></div>
{% endspaceless %}
{% endblock datepicker_widget %}