{% block datepicker_widget %}
{% spaceless %}
<div class="input-prepend input-append"><span class="add-on">{{ 'calendar'|icon }}</span>{{ block('form_widget_simple') }}<button class="btn btn-default" type="submit">{{ 'eye-open'|icon }}</button></div>
{% endspaceless %}
{% endblock datepicker_widget %}