{# JLMDailyBundle:Maintenance:show.html.twig #}
{% extends "JLMDailyBundle:Intervention:show.html.twig" %}

{% block officeaction %}
	{% set preferbill = -1 %}
	{{ parent() }}
{% endblock %}

{% block close_button %}
	<a href="#modalClose{{ entity.id }}" role="button" data-toggle="modal" class="btn btn-primary">{{ 'ok'|icon(true) }} {% if not entity.closed %}Cloturer{% else %}Editer cloture{% endif %}</a>
	{{ render(controller('JLMDailyBundle:Maintenance:close',{'id':entity.id})) }}
{% endblock %}

