/**
 * Autocompletion scrollable
 */
body {
	padding-top: 50px;
}

.ui-autocomplete {
	font-size:.9em;
        max-height: 150px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        z-index: 15000 !important;
    }
.ui-datepicker {
	z-index: 15000 !important;
}