{% extends "@JLMCommerce/quote/layout.html.twig" %}

{% block content %}
<h1>Envoyer un e-mail</h1>
<form action="{{ path('variant_email',{'id': entity.id}) }}" method="post" class="form-horizontal">
    <fieldset>
      {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
	   <button type="submit" class="btn btn-primary">{{ 'share-alt'|icon(true) }} Envoyer</button>
	</div>
</form>
{% endblock %}