{% extends "@JLMCommerce/quote/layout.html.twig" %}

{% block content %}
<h1>Nouvelle variante <small>{{ quote.number }}</small></h1>
{% include '@JLMCommerce/quote/showheader.html.twig' with {'quote': quote} %}
{{ form(form) }}
{% endblock %}
