{% extends "@JLMCommerce/quote/layout.html.twig" %}

{% block content %}
<h1>Nouveau devis</h1>
{{ form(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
	{% javascripts
    	'@JLMCommerceBundle/Resources/public/js/quote.js'
        filter='yui_js' %}
    	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
<script>
$("body").quote({
	 autoSource:'{{ path('autocomplete') }}'
});
</script>
{% endblock %}