{% for quote in entities %}
<li><a href="{{ path('quote_show', {'id' : quote.id }) }}">{{ quote.number }}
{% include 'JLMOfficeBundle:Quote:statelabel.html.twig' with {'state': quote.state} %}</a></li>
{% endfor %}