{% extends "JLMOfficeBundle::layout.html.twig" %} 
{% block sidebar %}
	<li><h4>Devis</h4></li>
	<li>
		<form  action="{{ path('quote_search') }}" method="post" class="form-search">
			{{ form_widget(layout.form_search) }}
		</form>
	</li>
	<li><a href="{{ path('askquote_new') }}"><i class="icon-plus-sign"></i> Nouvelle demande de devis</a></li>
	<li class="divider"></li>
	<li class="nav-header">États</li>
 	{% include 'JLMCommerceBundle:Quote:sidebar.html.twig' %} 
	<li class="divider"></li>
	<li class="nav-header">Derniers devis</li>
	{% include 'JLMCommerceBundle:Quote:last.html.twig' %}
{% endblock sidebar %}