{% if state == 0 %}
	<span class="label label-default">En saisie</span>
{% elseif state == 1 %}
	<span class="label label-warning">En attente</span>
{% elseif state == 2 %}
	<span class="label label-warning">En attente</span>
{% elseif state == 3 %}
	<span class="label label-info">Envoyé</span>
{% elseif state == 4 %}
	<span class="label label-info">Envoyé</span>
{% elseif state == 5 %}
	<span class="label label-success">Accordé</span>
{% else %}
	<span class="label label-danger">Annulé</span>
{% endif %}