{% block kwizer_select2modal_widget %}
    {% spaceless %}
    	{{ form_widget(form) }}
    	&nbsp;<a href="#{{ id }}_modal" role="button" class="btn btn-success" data-toggle="modal"><i class="icon-white icon-plus-sign"></i></a>
    {% endspaceless %}
{% endblock kwizer_select2modal_widget %}