{% block form_modal %}
{% spaceless %}
    {% for child in form %}
        {{ form_modal(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_modal %}

{% block field_modal "" %}

{% block button_modal "" %}

{% block selectcontacttype_modal %}
{% spaceless %}
    <div id="{{ id }}_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{ id }}_modal_label" aria-hidden="true">
    	<div class="modal-dialog">
    	</div>
    </div>
{% endspaceless %}
{% endblock selectcontacttype_modal %}