<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    Ajouter un contact
    <span class="caret"></span>
  </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li><a tabindex="-1" href="{{ path('jlm_contact_contact_new', {'id': 'person'}) }}">Personne</a></li>
      <li><a tabindex="-1" href="{{ path('jlm_contact_contact_new', {'id': 'company'}) }}">Société</a></li>
      <li><a tabindex="-1" href="{{ path('jlm_contact_contact_new', {'id': 'association'}) }}">Association</a></li>
    </ul>
</div>