{% form_theme form 'JLMContactBundle:Form:modal_fields.html.twig' %}

{{ form(form) }}
{#}
<form id="modalNewStandby" action="{{ path('standby_create') }}" method="post" class="form-horizontal modal hide fade" role="dialog" aria-labelledby="modalNewStandbyLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalNewStandbyLabel">Nouvelle astreinte</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary">{{ 'pencil'|icon(true) }} Enregistrer</button>
	</div>
</form>
{#}