{% extends "JLMStateBundle::layout.html.twig" %}

{% block content %}
<h1>Stats Contrats</h1>
<div id="graphContracts">
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function () {
    $('#graphContracts').highcharts({
    	chart: {
            type: 'column'
        },
        title : {
			text : 'Evolution des contrats'
		},
		xAxis: {
			categories: [
				'Jan',
				'Fev',
				'Mar',
				'Avr',
				'Mai',
				'Jui',
				'Jui',
				'Aoû',
				'Sep',
				'Oct',
				'Nov',
				'Déc'
			],
			crosshair: true
		},
		yAxis: {
			min: 0,
			title: {
				text: 'Nombre de contrat'
			}
		},
		series : [
{% for year,datas in stats %}		  		
{% if not loop.first %},{% endif %}
	    {
			name : 'Contrats {{ year }}',
			data : [{% for d,data in datas %}{% if not loop.first %},{% endif %}{{ data }}{% endfor %} ],
		}
{% endfor %}
		]
    });
});
</script>
{% endblock %}