{% extends "JLMStateBundle::layout.html.twig" %}

{% block content %}
<h1>Stats Facturation</h1>
<div id="graphCA"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function () {
    $('#graphCA').highcharts({
    	chart: {
	        alignTicks: false
	    },
    	rangeSelector : {
			selected : 1
		},
		xAxis: {
            categories: [
                'Jan',
                'Fev',
                'Mar',
                'Avr',
                'Mai',
                'Juin',
                'Juil',
                'Aoû',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chiffre d\'affaire'
            }
        },
		title : {
			text : 'Chiffre d\'affaire au mois'
		},
        tooltip: {
            shared: true,
            valueSuffix: ' euros'
        },
        
		series : [
		{% for year,datas in stats %}
		{
			name : 'Chiffre d\'affaire en {{ year }}',
			data : [{% for month,amount in datas %}{{ amount }}{% if not loop.last %},{% endif %}{% endfor %} ],
			type : 'column'
		}
		{% if not loop.last %},{% endif %}
		{% endfor %}
		]
    });
});
</script>
{% endblock %}
