{#}<a href="#" class="btn btn-primary btn-sm pull-right">Plus d'historique...</a>{#}<h4>Entretiens</h4>
{% if maintenances is not empty %}
      		    <table class="table table-bordered">
      		      <tbody>
      		      {% for maintenance in maintenances %}
      		        <tr>
      		          <th>{% if maintenance.creation|date('m') > 4 %}2ème semestre {{ maintenance.creation|date('Y') }}{% else %}1er semestre {{ maintenance.creation|date('Y') }}{% endif %}</th>
      		          <td>{% if maintenance.close %}{{ maintenance.close|date('d/m/Y') }}{% else %}{% endif %}</td>
      		        </tr>
      		      {% endfor %}
      		      </tbody>
      		    </table>
      		    {% else %}
      		    {% endif %}