{%  extends "::base.html.twig" %}

{% block container %}
		<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="page-header">
					<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{ asset('bundles/jlmuser/img/jlm-logo.png') }}"></h1>
				</div>
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
</div>
<div class="row">

        <div class="col-md-6 col-md-offset-3 well">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
        </div>
        </div>
{% endblock %}