{%  extends "::layout.html.twig" %}

{% block container %}
<div class="page-header">
  <h1 class="text-center"><img src="{{ asset('bundles/jlmuser/img/jlm-logo.png') }}"></h1>
</div>
<div class="row">
  {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
  <div class="{{ type }}">
    {{ message }}
  </div>
    {% endfor %}
  {% endfor %}
</div>
<div class="row">
    {% block fos_user_content %}{% endblock fos_user_content %}
</div>
{% endblock %}