{% extends "JLMCommerceBundle:Quote:layout.html.twig" %}
{% block content %}
<h1>Envoyer un devis par e-mail</h1>
<form action="{{ path('variant_mail',{'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    <fieldset>
    {{ form_widget(form) }}
	<div class="form-actions">
	   <button type="submit" class="btn btn-primary">{{ 'share-alt'|icon(true) }} Envoyer</button>
	</div>
</fieldset>
{% endblock %}