{% for quote in entities %}
<li class="list-group-item"><a href="{{ path('quote_show', {'id' : quote.id }) }}">{{ quote.number }}<span class="pull-right">
{% include 'JLMOfficeBundle:Quote:statelabel.html.twig' with {'state': quote.state} %}</span></a></li>
{% endfor %}