{% extends "JLMOfficeBundle::layout.html.twig" %}
{% set section = 'quote' %}
{% set search_route = 'quote_search' %}

{% block title %}Devis | {{ parent() }}{% endblock %}


{% block sidebar %}
    <div class="panel panel-default">
      <div class="panel-heading">Demandes de devis</div>
      <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('askquote_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> Nouvelle demande de devis</a></li>
        {% include 'JLMOfficeBundle:Askquote:sidebar.html.twig' with {'count' : layout.askQuoteCount} %} 
        <li class="list-group-item"><a href="{{ path('askquote_printlist') }}"><span class="glyphicon glyphicon-print"></span> Imprimer les devis à faire</a>
      </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Devis</div>
	  <ul class="list-group">
		{% include 'JLMOfficeBundle:Quote:sidebar.html.twig' with {'count' : layout.quoteCount} %} 
	  </ul>
	</div>
	<div class="panel panel-default">
      <div class="panel-heading">Derniers devis</div>
	  <ul class="list-group">
        {% include 'JLMOfficeBundle:Quote:last.html.twig' with {'entities' : layout.quoteLast} %}
	  </ul>
	</div>
{% endblock sidebar %}