{% extends "JLMOfficeBundle::layout.html.twig" %} 
{% block sidebar %}
<h4>Devis</h4>
<ul class="nav nav-list  affix">
	<li>
		<form  action="{{ path('quote_search') }}" method="post" class="form-search">
			<input type="text" class="search-query input-medium" name="query" placeholder="Rechercher un devis...">
		</form>
	</li>
	<li><a href="{{ path('quote_new') }}"><i class="icon-plus-sign"></i> Nouveau devis</a></li>
	<li class="divider"></li>
	{% render "JLMOfficeBundle:Quote:sidebar" %}
	<li class="divider"></li>
	{% render "JLMOfficeBundle:Quote:last" with {'limit': 5} %}
</ul>
{% endblock sidebar %}