{% extends "JLMOfficeBundle::layout.html.twig" %} 
{% block sidebar %}
<ul class="nav nav-list">
	<li><h4>Devis</h4></li>
	<li>
		<form  action="{{ path('quote_search') }}" method="post" class="form-search">
			<input type="text" class="search-query input-medium" name="query" placeholder="Rechercher un devis...">
		</form>
	</li>
	<li><a href="{{ path('askquote_new') }}"><i class="icon-plus-sign"></i> Nouvelle demande de devis</a></li>
	<li class="divider"></li>
	<li class="nav-header">États</li>
	{% render "JLMOfficeBundle:Quote:sidebar" %}
	<li class="divider"></li>
	<li class="nav-header">Derniers devis</li>
	{% render "JLMOfficeBundle:Quote:last" with {'limit': 5} %}
</ul>
{% endblock sidebar %}