{% extends "JLMTransmitterBundle::layout.html.twig" %} 
{% block sidebar %}
<ul class="nav nav-list  affix">
	<li><h4>Attributions d'émetteurs</h4></li>
	<li>{{ form(search.form, { 'action': path('transmitter_search') }) }}
	<li><a href="{{ path('transmitter_ask_new') }}">{{ 'plus-sign'|icon }} Nouvelle commandes d'émetteurs</a></li>
	<li class="divider"></li>
	<li class="nav-header">États</li>
	{% include '@JLMTransmitter/attribution/sidebar.html.twig' %}
</ul>
{% endblock sidebar %}
