<form action="{{ path('transmittertype_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal modal hide fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="modalNewLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modalNewLabel">Nouveau type d'emetteur</h3>
	</div>
	<div class="modal-body">
		{{ form_widget(form) }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
		<button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Enregistrer</button>
	</div>
</form>
