{% extends "JLMCommerceBundle:Bill:layout.html.twig" %}

{% block page_header %}
<h1>Liste des factures {{ bill_title|default('') }}</h1>
{% endblock %}

{% block content %}
{% include 'JLMCommerceBundle:Bill:list.html.twig' with {'entities':entities} %}
{% endblock %}